@import url(music.css);
.container {
    position: relative;
    width: 390px;
    height: 844px;
    margin: 0px auto;
    background: url('../imags/background/back.png') no-repeat;
    background-size: 390px 844px;
    /* border: 1px solid rgb(240, 7, 7); */
    position: relative;
    border-radius: 30px;
}

.container2 {
    position: absolute;
    top: 70px;
    animation: tittlemove alternate infinite 3s ease-in-out;
}

.container2 img {
    width: 390px;
}

.word{
    position: absolute;
    top:330px;
    left:-31px;
}
.word>img{
    width:450px;
    height: 350px;
    animation: tittlemove3 alternate infinite 1.5s ease-in-out;
}

.container3 img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 50px;
    cursor: pointer;
    animation: tittlemove2 alternate infinite 4s ease-in-out;

}

.container4 img {
    position: absolute;
    width: 70px;
    bottom: 140px;
    left: 40px;
}

@keyframes tittlemove {
    0% {}
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}

@keyframes tittlemove2 {
    0% {
        transform: translateX(-50%);
    }
    50% {
        transform: translate(-50%,-5px);
    }
    100% {
        transform: translate(-50%,5px);
    }
}

@keyframes tittlemove3 {
    0% {}
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}