@import url(music.css);
@import url(saying.css);
.u-audio2{
    top: 430px;
}
* {
    margin: 0;
    padding: 0;
}

#container {
    width: 390px;
    height: 844px;
    margin: 0px auto;
    background: url('../imags/background/back3.png') no-repeat;
    background-size: 390px 844px;
    /* border: 1px solid rgb(240, 7, 7); */
    position: relative;
    border-radius: 30px;
}

.container1 {
    position: absolute;
    left: 45px;
    top: 180px;
    /* border: 1px solid rgb(240, 7, 7); */
}

.container1 p {
    font-family: 'SONG';
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 30px;
    letter-spacing: 5px;
}

.container1 p span {
    color: rgb(116, 48, 67);;
    font-family: 'SONG';
}

.container2 {
    position: absolute;
    left: 105px;
    top: 350px;
    /* border: 1px solid rgb(240, 7, 7); */
}

.container2>div:first-child>img {
    width: 180px;
    height: 200px;
}

.container2>div:last-child>p {
    font-family: 'SONG';
    font-size: 15px;
    color: black;
    text-align: center;
    line-height: 30px;
    letter-spacing: 5px;
}
.container2>div:first-child>div>img{
    width: 200px;
    height: 120px;
    border-radius: 20px;
}
.container2>div:first-child>div{
    display: none;
    position: absolute;
    top: 30px;
    left: -10px;
    /* border: 1px saddlebrown solid; */
}
.container2>div:first-child:active>div{
    display: block;
}

.container3 {
    position: absolute;
    left: 35px;
    bottom: 150px;
    /* border: 1px solid rgb(240, 7, 7); */
}

.container3>div {
    float: left;
    /* border: 1px solid rgb(240, 7, 7); */
    margin-left: 8px;
}

.container3>div:first-child {
    margin-left: 0px;
}

.container3>div:nth-child(2) {
    margin-left: 0px;
}

.container3>div:last-child {
    margin-left: 0px;
}

.container3 .Puzzle {
    position: relative;
    width: 50px;
    height: 40px;
    cursor: pointer;
    /*鼠标手型改变*/
    /*过渡时间：持续的时间  规定以慢速开始和结束，先加速后减速效果*/
}

.container3>div>img:hover {
    transform: scale(1.2);
}

#submit img {
    position: absolute;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    cursor: pointer;
}

#correct,
#wrong {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    bottom: 500px;
}

.back img {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 80px;
    cursor: pointer;
}
.go img {
    position: absolute;
    width: 100px;
    cursor: pointer;
    bottom: 0px;
    right: 10px;
}