@import url(music.css);
* {
    margin: 0;
    padding: 0;
}

#container {
    width: 390px;
    height: 844px;
    margin: 0px auto;
    background: url('../imags/background/back3.png') no-repeat;
    background-size: 390px 844px;
    /* border: 1px solid rgb(240, 7, 7); */
    position: relative;
    border-radius: 30px;
}

#taotie {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 160px;
    width: 130px;
    height: 120px;
}

#dou,
#dou2,
#dou3,
#dou4,
#dou5 {
    position: absolute;
    width: 50px;
    height: 50px;
}

#dou {
    width: 55px;
    height: 55px;
    left: 70%;
    bottom: 250px;
}

#dou2 {
    width: 65px;
    height: 65px;
    left: 20%;
    bottom: 330px;
}

#dou3 {
    width: 50px;
    height: 50px;
    left: 66%;
    bottom: 530px;
}

#dou4 {
    width: 30px;
    height: 30px;
    left: 70%;
    bottom: 400px;
}

#dou5 {
    width: 40px;
    height: 40px;
    left: 30%;
    bottom: 450px;
}

#wall {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 150px;
    width: 300px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.311);
}

.back img {
    position: absolute;
    width: 80px;
    cursor: pointer;
}

#word{
    position: absolute;
    top: 170px;
    left: 100px;
    font-family: 'SONG';
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

#eat {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
}

#eat>img{
    width: 140px;
    height: 50px;
}

#full {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    bottom: 500px;
    color: orange;
    font-family: 'SONG';
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
}